@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: PoppinsThin;
  src: url(fonts/Poppins-Thin.ttf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(fonts/Poppins-Bold.ttf);
}


body {
  background-color: #1E203A;
  font-family: Poppins;
  color: aliceblue;
  margin: 0;
  letter-spacing: 1px;
}

.sidebar {
  width: 200px;
  background-color: #242C48;
  height: 100vh;
  padding: 2rem;
}

.brand {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  font-family: poppinsThin;
  letter-spacing: 2px;
  font-size: 1.5em;
}


.logo {
  max-width: 100px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 0.5em 0;
}



.logo {
  width: 100%;
}