@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Mona Sans';
  src: url(fonts/MonaSans-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: 'Mona Sans';
  src: url(fonts/MonaSans-Medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: 'Mona Sans';
  src: url(fonts/MonaSans-Bold.woff);
  font-weight: 700; 
}

@font-face {
  font-family: 'Mona Sans';
  src: url(fonts/MonaSans-Light.woff);
  font-weight: 100;
}


/* @font-face {
  font-family: PoppinsThin;
  src: url(fonts/Poppins-Thin.ttf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(fonts/Poppins-Bold.ttf);
} */

/* 
body {
  font-family: Poppins;
  color: aliceblue;
  margin: 0;
  letter-spacing: 1px;
} */
